hr {
  color: lightgray;
  opacity: 0.2;
  /* padding-bottom: 5rem; */
}
.Footer {
  text-align: center;
  padding-top: 40px;
}

.icons {
  margin-bottom: 50px;
}

.linkedin-icon {
  padding: 1.5rem;
}

.github-icon {
  padding: 1.5rem;
}
